<template name="birthdayForm">
    <div class="ui form">
  <form name="birthdayForm" id="birthday-form" novalidate>

    <div class="inline fields">
    <div class="field">
      <label>Wann ist das Fest?</label>
      <input type="text" class="form-control" name="day" placeholder="TT">
        <span id='day-error'></span>
    </div>
    <div class="field">
      <input type="text" class="form-control" name="month" placeholder="MM">
        <span id='month-error'></span>
    </div>
    </div>

    <div class="ui fluid">
    <div class="field">
      <input type="text" class="form-control" name="name" placeholder="Dein Name" required>
        <span id='name-error'></span>
    </div>
    </div>

      	<div class="field">
            <input type="email" class="form-control" name="email" id="email" placeholder="Deine Email" required>
            <span id='email-error'></span>
        </div>

      <div class="field">
      <i class="heart circular icon link" data-content="Hello, I am a pop-up."></i>
    <button type="submit" class="ui blue submit button">Fest spenden</button>
          </div>
  </form>

        </div>
</template>


<template name="titleItem">
    <h2>{{ title }}</h2>
</template>

<template name="textItem">
    <p>{{ text }}</p>
</template>

<template name="birthday">
    <h1>GEBURTSTAG!!!</h1>
    {{#if editing}}
        <div class="edit">
          <textarea id="title-input" class="form-control" rows="2">{{ title }}</textarea>
        </div>
        <div class="edit">
          <textarea id="text-input" class="form-control" rows="20">{{ text }}</textarea>
        </div>

        {{#if isactive}}
        <input type="button" id="btn-active" value="Geburtstag deaktivieren">
        {{else}}
        <input type="button" id="btn-active" value="Aktivieren!">
        {{/if}}


        <button id="btn-delete">Geburtstag löschen</button>


        <div class="ui fade reveal">
          <img id="change-pic" class="visible content" src="{{ pic }}">
          <img class="hidden content" src="{{ AVATAR }}">
        </div>


        {{> editYourAvatarModal}}

    {{else}}
        NO EDIT
        <h2>{{ title }}</h2>
        <p>{{ text }}</p>

    <div class="ui inverted circular segment">
      <h2 class="ui inverted header">
        Spende
      </h2>
    </div>
    {{/if}}
</template>

<template name="birthdayNotFound">
    <h1>GEBURTSTAG NICHT GEFUNDEN!!!</h1>
</template>


