<template name="birthdayForm">
  <form id="new_birthday_form">
    <div class="form-group">
      <input type="text" class="form-control" id="dayIntObject" value="{{day}}">
      <input type="text" class="form-control" id="monthIntObject" value="{{month}}">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="nameObject" value="{{name}}">
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="email" data-parsley-trigger="change" id="email" placeholder="E-Mail Adresse"
                parsley-notblank="true"
                parsley-type="email"
                parsley-trigger="keyup" >
            <p class="help-block"></p>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Fest spenden</button>
  </form>
</template>


<template name="titleItem">
    <h2>{{ title }}</h2>
</template>

<template name="textItem">
    <p>{{ text }}</p>
</template>

<template name="birthday">
    <h1>GEBURTSTAG!!!</h1>
    {{#if editing}}
        <div class="edit">
          <textarea id="title-input" rows="2">{{ title }}</textarea>
        </div>
        <div class="edit">
          <textarea id="text-input" rows="20">{{ text }}</textarea>
        </div>

        {{#if isactive}}
        <input type="button" id="btn-active" value="Geburtstag deaktivieren">
        {{else}}
        <input type="button" id="btn-active" value="Aktivieren!">
        {{/if}}


        <button id="btn-delete">Geburtstag löschen</button>
    {{else}}
        NO EDIT
        <h2>{{ title }}</h2>
        <p>{{ text }}</p>
    {{/if}}
</template>

<template name="birthdayNotFound">
    <h1>GEBURTSTAG NICHT GEFUNDEN!!!</h1>
</template>
