<template name="changePic">

    <div id="editYourAvatarModal" class="ui modal">
        {{> changePicModal}}
    </div>

</template>

<template name="changePicModal">


        <i class="close icon"></i>
        <div class="header">Bild auswählen & ausschneiden</div>
        <div class="content">
            {{> changePicModalBody}}
        </div>


        <div class="actions">

            <div class="ui buttons">
              <div class="ui button">Abbrechen</div>
              <div class="or"></div>
              <div id="save-pic" class="ui positive button">Speichern</div>
            </div>
        </div>

</template>

<template name="changePicModalBody">

    <div class="error"></div>
    <div class="left">

        <!-- hidden always by default -->
        <img id="realImage" src="{{ image }}" alt="" />


        <img id="avatarUserImg" src="{{ image }}" alt="" />

        <div class="ui file input">
            <input type="file" name="avatarFile" />
        </div>
    </div>
    <div class="right">
        <div id="previewFrame" class="hide">
                <div id="preview">
                    <img src="{{ image }}" alt=""/>
                </div>
             </div>
    </div>

</template>
